#lot-detail-map {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.lot-detail-banner-image {
    display: none;
    width: 100%;
    height: 250px;
}

.lot-detail-page {

    .content-wrapper {
        .make-row();
        .make-md-column(10);
        .make-md-column-offset(1);
        margin: 0;
        padding-top: 10px;
    }

    h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    #aside-left {
        .make-md-column(3);
        .make-md-column-pull(9);
    }

    #main {
        .make-md-column(6);
        .make-md-column-offset(0);
    }

    #aside-right {
        .make-md-column(3);
        .make-md-column-push(9);
        font-size: 18px;
        font-style: italic;
    }
}

.lot-detail-main {
    &-section {
        border-top: 1px solid black;
        margin-top: 25px;
    }
}

.content-list() {
    list-style: none;
    margin: 0;
    padding: 0;
    
    &-item {
        margin-top: 10px;
    }
}

.note-list {
    .content-list;
}

.note {
    &-meta {
        font-family: @header-font-family;
        font-size: 20px;
        font-weight: bold;
    }
}

.file-list {
    .content-list;
}

.file {
    &-description {
        font-size: 24px;
    }
}

.photo-list {
    .content-list;

    img {
        max-width: 100%;
        height: auto;
    }

    .photo-meta {
        font-size: 12px;
    }
}

.lot-detail-organizers {
    &-count-private {
       color: @private-color;
    }

    &-count-public {
       color: @public-color;
    }

    &-count-in-use {
        color: @in-use-color;
    }

    .organizer-list {
        font-size: 18px;
        font-style: italic;
        list-style: none;
        padding: 0;

        &-item {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.lot-detail-right() {
    margin-top: 25px;
}

.lot-detail-content {
    margin-left: 32px;
    ul {
        list-style: none;
        padding: 0;
    }
}

.lot-detail-icon {
    background-image-repeat: no-repeat;
    float: left;
    height: 21px;
    margin-top: 8px;
    width: 24px;
}

.lot-detail-legal {
    .lot-detail-right();
    ul {
        list-style: none;
        padding: 0;
    }
    .lot-detail-icon {
        background: url(/static/img/lot-detail-legal.png) no-repeat;
    }
}

.lot-detail-ownership {
    .lot-detail-right();
    .lot-detail-icon {
        background: url(/static/img/lot-detail-ownership.png) no-repeat;
        height: 23px;
        width: 13px;
    }
}

.lot-detail-ownership.lot-group .lot-detail-owner {
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.lot-detail-special {
    .lot-detail-right();
    .lot-detail-icon {
        background: url(/static/img/lot-detail-special.png) no-repeat;
        height: 17px;
        margin-left: 3px;
        width: 5px;
    }
}

.lot-detail-reasons {
    .lot-detail-right();
    ul {
        list-style: disc outside;
        padding-left: 25px;
    }
}

.lot-detail-address {
    margin-top: 10px;
}

.lot-detail-admin {
    .lot-detail-right();
}

.lot-detail-pathways {
    .lot-detail-right();
    ul {
        list-style: disc outside;
        padding-left: 25px;
    }
}

#organizer-modal {
    input[type="checkbox"] {
        display: none;

        & + label .checkbox-x {
            border: 1px solid white;
            display: inline-block;
            height: 40px;
            width: 40px;
        }
        &:checked {
            & + label .checkbox-x {
                background: url("/static/img/checkbox-x.png");
            }
        }
    }
}
