{% load feincms_tags i18n %}

<footer>
    <div class="footer-menu row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">

                <div class="footer-collaborator-links col-md-6">
                    {% trans "A project of" %}:
                    <a href="http://www.chc-inc.org/">{% trans "Community Health Councils" %}</a> |
                    <a href="http://596acres.org/">596 Acres</a> |
                    <a href="http://c-lab.columbia.edu/">C-Lab</a> |
                    <a href="http://www.la2050.org/">LA 2050</a>
                </div>

                <div class="footer-subscribe col-md-3">
                    <form action="http://laopenacres.us7.list-manage2.com/subscribe/post?u=e1b2a93e34ac7e27fc741aaf8&amp;id=645ab10bfb" method="post" target="_blank">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" data-cip-id="mce-EMAIL" placeholder="{% trans "subscribe" %}">
                        <input style="background: none; float: right; width: 0; height: 0;" type="submit" />
                    </form>
                </div>

                <div class="footer-social col-md-3">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/CommunityHealthCouncils" class="social social-fb"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/chcinc/" class="social social-twitter"></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</footer>
