{% load feincms_tags i18n %}

<footer>
    <div class="footer-menu row">
        <div class="col-md-offset-1 col-md-10">
            <div class="footer-row">

                <div class="footer-social">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/CommunityHealthCouncils" class="social social-fb"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/chcinc/" class="social social-twitter"></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="footer-collaborator-links">
                    {% trans "A project of" %}:
                    <a href="http://www.chc-inc.org/" target="_blank">{% trans "Community Health Councils" %}</a> |
                    <a href="http://596acres.org/" target="_blank">596 Acres</a> |
                    <a href="http://c-lab.columbia.edu/" target="_blank">C-Lab</a> |
                    <a href="http://www.la2050.org/" target="_blank">LA 2050</a>
                </div>

                <div class="search">
                    <form action="{% url "watson:search" %}" method="get">
                        <input type="search" name="q" placeholder="{% trans "search" %}" value="{{ request.GET.q }}" />
                    </form>
                </div>

            </div>
        </div>
    </div>
</footer>
