.leaflet-bar a,
.leaflet-bar a:hover {
    font-size: 30px;
    height: 36px;
    line-height: 36px;
    width: 36px;
}

.leaflet-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;

    a {
        border: 0;
        border-radius: 0 !important;
    }
}

.leaflet-left {
    margin-left: 8.33333333333333%;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-control-layers-toggle {
    background-image: url(/static/img/layer-switcher.png);
}

.leaflet-control-loading {
    background-image: url(/static/img/loading.gif);
}
