@frame-border: 1px solid #aaa;
@body-font-family: "Times New Roman", serif; 
@header-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 


/*
 * Import library Less files
 */

@import "bootstrap.less";

/*
 * Global properties
 */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: @body-font-family;
    font-size: 21px;
    line-height: 24px;
}

a {
    color: black;
}

h1, h2, h3 {
    font-family: @header-font-family;
}

/* Header */

header {
    background-color: white;
}

header .row {
    margin: 0;
}

.menu-bookend() {
    border-left: @frame-border;
    border-right: @frame-border;
    height: 100%;
    line-height: 26px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.header {
    &-row {
        .make-row();
        margin: 0;
        @media (min-width: @screen-sm-min) {
            height: 50px;
        }
    }

    &-menu {
        border-bottom: @frame-border;
        border-top: @frame-border;

        & > div {
            @media (max-width: @screen-xs-max) {
                padding: 0;
            }
        }
    }

    &-search {
        .hidden-xs();
        .make-sm-column(3);
        .make-md-column(3);
        input {
            border: 0;
            width: 100%;
        }
        .menu-bookend;
        line-height: 40px;
    }

    &-tagline {
        .menu-bookend;
        .hidden-xs();
        .hidden-sm();
        .make-md-column(3);
        font-size: 12px;
        font-style: italic;
        line-height: 17px;
        @media (min-width: @screen-lg-min) {
            line-height: 35px;
        }
    }
}

.navbar-default {
    .hidden-print();
    .make-sm-column(9);
    .make-md-column(6);
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-family: @header-font-family; 
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 0;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bold;
    line-height: 40px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.in {
    font-size: 22px;
}

.navbar-brand {
    float: none;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 103px;
}

.navbar-toggle {
    margin-top: 15px;
    padding: 15px 10px;
}


/* Footer */

footer {
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;

    .row {
        margin: 0;
    }
}

.footer {
    &-row {
        .make-row();
        height: 50px;
        margin: 0;
    }

    &-menu {
        border-bottom: @frame-border;
        border-top: @frame-border;
    }

    &-collaborator-links {
        .make-sm-column(9);
        .make-md-column(6);
        color: #aaa;
        font-family: @header-font-family; 
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
        padding-top: 5px;

        @media (max-width: @screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            line-height: 20px;
        }

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &-subscribe {
        .menu-bookend;
        .make-md-column(3);
        line-height: 40px;

        @media (max-width: @screen-sm-max) {
            padding-left: 0;
            padding-right: 0;
            border-left: 0;
            border-right: 0;
        }

        input {
            border: 0;
            width: 100%;
        }
    }

    &-social {
        .menu-bookend;
        .hidden-xs();
        .make-md-column(3);
        .make-sm-column(3);
        line-height: 50px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
            }

        }
    }
}

.social-icon() {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    height: 21px;
    width: 21px;
}

.social {

    &-fb {
        .social-icon;
        background: url(/static/img/fb.png);
        &:hover {
            background: url(/static/img/fb-hover.png);
        }
    }

    &-twitter {
        .social-icon;
        background: url(/static/img/twitter.png);
        &:hover {
            background: url(/static/img/twitter-hover.jpg);
        }
    }

}


#page-wrapper.row {
    margin: 0;
    margin-bottom: 50px;
}


/* Base page */

#main {
    .make-md-column(9);
    .make-md-column-offset(1);
}

.header-home-link {
    text-align: center;

    h1 {
        margin-bottom: 5px;
        margin-top: 0;
        padding-top: 5px;
    }
}


/*
 * Forms
 */

.help-text {
    font-size: 14px;
    line-height: 18px;
}

form {

    .btn-primary {
        .button-variant(#A1A1A1; #454545; #000);
    }

}


/*
 * Pages
 */

@import "pages/blog.less";
@import "pages/map.less";
@import "pages/lot_detail.less";


/*
 * Overrides
 */

@import "overrides/bootstrap.less";
@import "overrides/leaflet.less";
