@import "variables.less";


/*
 * Import library Less files
 */

@import "bootstrap.less";

/*
 * Global properties
 */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: @body-font-family;
    font-size: 21px;
    line-height: 24px;
}

a,
a:hover {
    color: black;
}

h1, h2, h3 {
    font-family: @header-font-family;
}

/* Header */

header#page-header {
    background-color: white;
    height: @header-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;

    @media (max-width: @screen-sm-max) {
        height: @header-height-sm;
    }
}

header .row {
    margin: 0;
}

.menu-bookend() {
    border-left: @frame-border;
    border-right: @frame-border;
    line-height: 26px;
}

.menu-section() {
    height: 100%;
    overflow-y: hidden;
}

.header {
    &-row {
        .make-row();
        margin: 0;
        @media (min-width: @screen-sm-min) {
            height: 50px;
        }
    }

    &-menu {
        border-bottom: @frame-border;
        border-top: @frame-border;

        & > div {
            @media (max-width: @screen-xs-max) {
                padding: 0;
            }
        }
    }

    &-tagline {
        .menu-section();
        .menu-bookend;
        .hidden-xs();
        .hidden-sm();
        .make-md-column(3);
        font-size: 12px;
        font-style: italic;
        line-height: 17px;
        padding-bottom: 5px;
        padding-top: 5px;
        @media (min-width: @screen-lg-min) {
            line-height: 35px;
        }
        &.overflowing {
            line-height: 17px;
        }
    }
}

.header-footer-input() {
    .menu-bookend();
    .menu-section();
    font-size: 12px;
    font-style: italic;
    line-height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    input {
        border: 0;
        width: 100%;
    }
}

.search {
    .hidden-xs();
    .make-sm-column(3);
    .make-md-column(3);
    .header-footer-input();
}

.subscribe {
    .make-md-column(3);
    .header-footer-input();
    .hidden-xs();

    @media (max-width: @screen-sm-max) {
        border-top: @frame-border;
        clear: both;
        overflow-y: visible;
    }
}

.navbar-default {
    .hidden-print();
    .make-sm-column(9);
    .make-md-column(6);
    .menu-section();

    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-family: @header-font-family; 
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 0;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: @screen-sm-max) {
        .menu-bookend();
        border-right: 0;
    }

    .navbar-nav > li > a {
        color: black;
        font-weight: bold;
        line-height: 40px;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover {
        background-color: inherit;
        color: black;
        text-decoration: underline;
    }


    &.overflowing {
        .navbar-nav > li > a {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.in {
    font-size: 22px;
    background: white;
}

.navbar-brand {
    float: none;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 103px;
}

.navbar-toggle {
    margin-top: 15px;
    padding: 15px 10px;
}


/* Footer */

footer {
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 5000;

    .row {
        margin: 0;
    }
}

.footer {
    &-row {
        .make-row();
        height: 50px;
        margin: 0;
    }

    &-menu {
        border-bottom: @frame-border;
        border-top: @frame-border;
    }

    &-collaborator-links {
        .make-sm-column(9);
        .make-md-column(6);
        .menu-section();
        color: #aaa;
        font-family: @header-font-family; 
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
        padding-top: 5px;

        @media (max-width: @screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width: @screen-sm-max) {
            .menu-bookend();
            @media (min-width: @screen-sm-min) {
                border-left: 0;
            }
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            line-height: 20px;
        }

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &-social {
        .menu-bookend;
        .menu-section();
        .hidden-xs();
        .make-md-column(3);
        .make-sm-column(3);
        line-height: 50px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
            }

        }
    }
}

.social-icon() {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    height: 21px;
    width: 21px;
}

.social {

    &-fb {
        .social-icon;
        background: url(/static/img/fb.png);
        &:hover {
            background: url(/static/img/fb-hover.png);
        }
    }

    &-twitter {
        .social-icon;
        background: url(/static/img/twitter.png);
        &:hover {
            background: url(/static/img/twitter-hover.jpg);
        }
    }

}


#page-wrapper {
    .make-row();
    margin: 0;
    margin-bottom: 150px;
    margin-top: @header-height;

    @media (max-width: @screen-sm-max) {
        margin-top: @header-height-sm;
    }
}


/* Base page */

#main {
    .make-md-column(9);
    .make-md-column-offset(1);
}

.header-home-link {
    text-align: center;

    h1 {
        margin-bottom: 5px;
        margin-top: 0;
        padding-top: 5px;
    }
}


/*
 * Forms
 */

.help-text {
    font-size: 14px;
    line-height: 18px;
}

form {

    .btn-primary {
        .button-variant(#A1A1A1; #454545; #000);
    }

}


/*
 * Pages
 */

@import "pages/blog.less";
@import "pages/map.less";
@import "pages/lot_detail.less";
@import "pages/search.less";


/*
 * Overrides
 */

@import "overrides/bootstrap.less";
@import "overrides/leaflet.less";


/*
 * Widgets
 */

@import "widgets/friendlyowners.less";
