// Global fonts
@body-font-family: "Times New Roman", serif; 
@header-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 


// Page frame
@frame-border: 1px solid #aaa;


// Lot layer colors
@in-use-color: #999933;
@public-color: #A9756D;
@public-remnant-color: #8C474D;
@public-sidelot-color: #A9746E;
@private-color: #D4A7D4;
@private-tax-default-color: #9A649E;
