{% extends "base.html" %}
{% load communityplanareas_tags councildistricts_tags files_tags flatblock_tags i18n neighborhoodcouncils_tags imagekit inplace_tags llla_photos_tags lots_tags notes_tags organize_tags pathways_tags photos_tags %}

{% block title %}
    {{ lot.display_name|title|default:"unknown" }} |
    {% trans "LA Open Acres" %}
{% endblock %}

{% block body_class %}lot-detail-page{% endblock %}

{% block breadcrumbs_wrapper %}
{% endblock %}

{% block messages %}
{% endblock %}

{% block sidebar_left %}
    <aside id="aside-left">
        <a href="/#18/{{ lot.centroid.y|floatformat:"4" }}/{{ lot.centroid.x|floatformat:"4" }}">
            <div id="lot-detail-map"
                data-l-zoom="17" 
                data-l-center="[{{ lot.centroid.y }}, {{ lot.centroid.x }}]"
                data-l-mapbox-id="{% inplace_setting PLACES_MAPBOX_ID %}"
                data-l-scroll-wheel-zoom="false"
                data-l-zoom-control="false"
                data-l-lotsurl="{% url "lots:lot_geojson_polygon" %}"
                data-l-lot-pk="{{ lot.pk }}"
            ></div>
        </a>

        <a class="btn btn-default" href="https://maps.google.com/maps?layer=c&cbll={{ lot.centroid.y }},{{ lot.centroid.x }}">See lot on Street View</a>

        <section id="photos" class="lot-detail-side-section photos">
            <h2>{% trans "Photos" %}</h2>
            <div>
                <a class="btn btn-default" href="{% url "usercontent:add_photo" pk=lot.pk %}" data-target="#photo-modal" data-toggle="modal">
                    {% trans "Submit a photo" %}
                </a>
            </div>
            {% render_photo_list for lot %}
        </section>
    </aside>
{% endblock %}

{% block content %}

    {% get_random_photo for lot as banner_image %}
    {% if banner_image %}
        {% thumbnail '800x400' banner_image.original_image as banner_thumbnail %}
        <div class="lot-detail-banner-image" style="background-image: url({{ banner_thumbnail.url }});"></div>
    {% endif %}

    <div class="lot-detail-main">

        {% include "_messages.html" %}

        <section class="lot-detail-actions">
            {% if "lots.change_lot" in perms %}
                <div>
                    <a id="btn-admin-toggle" class="btn btn-admin btn-admin-always-visible" href="#">
                        {% trans "toggle admin view" %}
                    </a>
                    <a class="btn btn-admin" href="{% url "admin:lots_lot_change" lot.pk %}">
                        {% trans "edit this lot" %}
                    </a>
                    <a class="btn btn-admin" href="{% url "lots:hide_lot" pk=lot.pk %}" data-target="#hide-modal" data-toggle="modal" title="{% trans "Remove this lot from the map" %}">
                        {% trans "hide this lot" %}
                    </a>
                </div>
            {% endif %}

            {% if not lot.known_use %}
                <div>
                    <a class="btn btn-default" href="{% url "steward:add_stewardnotification" pk=lot.pk %}" data-target="#steward-modal" data-toggle="modal" title="{% trans "Tell us more about your project." %}">
                        {% trans "Is this an active project?" %}
                    </a>

                    <a class="btn btn-default" href="{% url "groundtruth:add_groundtruthrecord" pk=lot.pk %}" data-target="#groundtruth-modal" data-toggle="modal" title="{% trans "Let us know that this lot's actual use is not correctly identified." %}">
                        {% trans "Have we made a mistake?" %}
                    </a>
                </div>
            {% endif %}
        </section>

        <section class="lot-detail-organizers">
            {% get_organizer_count for lot as organizer_count %}
            <h2>
                {% trans "build community" %}: 
                <span class="lot-detail-organizers-count 
                    lot-detail-organizers-count-{{ lot.owner.owner_type|default:"unknown" }} {% if lot.known_use %} 
                    lot-detail-organizers-count-in-use{% endif %}"
                >{{ organizer_count }}</span>
                {% blocktrans count counter=organizer_count %}
                    organizer and counting!
                {% plural %}
                    organizers and counting!
                {% endblocktrans %}
            </h2>

            <a class="btn btn-default build-community-button" href="{% url "organize:add_organizer" pk=lot.pk %}" data-target="#organizer-modal" data-toggle="modal">
                {% trans "organize with us" %}
            </a>

            <div>
                <section class="lot-detail-organizer-intro">
                    {% flatblock "lot-detail-organizer-intro" %}
                    {% flatblock "lot-detail-organizer-contact" %}
                </section>
                {% render_organizer_list for lot %}
            </div>
        </section>

        <section id="notes" class="notes lot-detail-main-section">
            <h2>
                {% trans "Notes" %}
            </h2>
            <a class="btn btn-default" href="{% url "usercontent:add_note" pk=lot.pk %}" data-target="#note-modal" data-toggle="modal">
                {% trans "Add your note" %}
            </a>
            {% render_note_list for lot %}
        </section>

        <section id="files" class="files lot-detail-main-section">
            <h2>
                {% trans "Files" %}
            </h2>
            <a class="btn btn-default" href="{% url "usercontent:add_file" pk=lot.pk %}" data-target="#file-modal" data-toggle="modal">
                {% trans "Add a file" %}
            </a>
            {% render_file_list for lot %}
        </section>

        {% if lot.steward_projects.all.count > 0 %}
            {% with steward=lot.steward_projects.all.0 %}
                {% if steward.organizer %}
                    <section class="lot-detail-main-section">
                        <h2>{% trans "Steward" %}</h2>
                        <p>{% trans "This land is being stewarded by the following group:" %}

                        {% if "steward.change_stewardproject" in perms %}

                            <div class="lot-detail-admin admin-only grid">
                                <a class="btn btn-admin" href="{% url "admin:organize_organizer_change" steward.organizer.pk %}">
                                    {% trans "Edit this steward's contact information" %}
                                </a>
                            </div>

                            <div class="lot-detail-admin admin-only grid">
                                <a class="btn btn-admin" href="{% url "admin:steward_stewardproject_change" steward.pk %}">
                                    {% trans "Edit this steward's other information" %}
                                </a>
                            </div>
                        {% endif %}

                        <table>
                            <tr>
                                <th>{% trans "group name" %}:</th>
                                <td>
                                    {% if steward.organizer.url %}
                                        <a href="{{ steward.organizer.url }}" target="_blank">
                                            {{ steward.organizer.name }}
                                        </a>
                                    {% else %}
                                        {{ steward.organizer.name }}
                                    {% endif %}
                                </td>
                            </tr>

                            {% if steward.organizer.post_publicly or "steward.change_stewardproject" in perms %}
                                <tr>
                                    <th>{% trans "phone" %}:</th>
                                    <td>{{ steward.organizer.phone }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "email" %}:</th>
                                    <td>
                                        {% if steward.organizer.email %}
                                        {% with email=steward.organizer.email %}
                                        <a href="mailto:{{ email }}">{{ email }}</a>
                                        {% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if steward.support_organization %}
                            <tr>
                                <th>{% trans "supported by" %}:</th>
                                <td>{{ steward.support_organization }}</td>
                            </tr>
                            {% endif %}

                        </table>

                    </section>
                {% endif %}
            {% endwith %}
        {% endif %}

    </div>
{% endblock %}

{% block sidebar %}
    <aside id="aside-right">

        <section>
            <div class="lot-detail-content">
                <h2>
                    {{ lot.display_name|title|default:"unknown" }}
                </h2>
                <div class="lot-detail-details">

                    {% if lot.number_of_lots > 1 %}
                        <div>
                            {% trans "Number of Lots" %}: {{ lot.number_of_lots }}
                        </div>
                    {% endif %}

                    {% if lot.known_use %}
                        <div>
                            {% trans "Known Use" %}: {{ lot.known_use }}
                        </div>
                    {% endif %}

                    <div class="lot-detail-addresses {% if lot.number_of_lots > 1 %} lot-group {% endif %}">
                        {% for l in lot.lots %}
                            <div class="lot-detail-address">
                                {% if l.parcel %}
                                    <div>
                                        AIN {{ l.parcel.ain }}
                                    </div>
                                {% endif %}

                                <div>
                                    {% if l.address_line1 %}
                                        {{ l.address_line1|title }}<br />
                                    {% endif %}
                                    {% if l.city %}
                                        {{ l.city|title }}, {{ l.state_province|default:"CA" }}
                                    {% endif %}
                                    {{ l.postal_code|default:"" }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="lot-detail-legal">
            <div class="lot-detail-icon"></div>
            <div class="lot-detail-content">
                <ul>
                    <li>
                        {% trans "Area" %}:
                        {{ lot.area_acres|floatformat:"2"|default:"unknown" }} acres
                    </li>
                    <li>
                        {% if lot.number_of_lots <= 1 %}
                            {% trans "Use code" %}:
                        {% else %}
                            {% trans "Use codes" %}:
                        {% endif %}

                        {% for l in lot.lots %}
                            <span title="{{ l.parcel.ain }}">
                                {{ l.parcel.local_roll.use_cde }}
                            </span>
                        {% endfor %}
                    </li>

                    {% get_council_district lot.centroid.y lot.centroid.x as council_district %}
                    {% if council_district %}
                        <li>
                            <a href="http://cd{{ council_district }}.lacity.org" target="_blank">
                                {% trans "Council District" %}
                                {{ council_district }}
                            </a>
                        </li>
                    {% endif %}

                    {% get_neighborhood_council lot.centroid.y lot.centroid.x True as neighborhood_councils %}
                    {% if neighborhood_councils %}
                        <li>
                            {% trans "Neighborhood Council" %}:
                            {% for council in neighborhood_councils %}
                                {% if council.waddress %}
                                    <a href="{{ council.waddress }}" target="_blank">
                                        {{ council }}
                                    </a>
                                {% else %}
                                    {{ council }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% get_community_plan_area lot.centroid.y lot.centroid.x as community_plan_area %}
                    {% if community_plan_area %}
                        <li>
                            {% trans "Community Plan Area" %}:
                            <a href="http://cityplanning.lacity.org/complan/cpa/cpa.htm" target="_blank">
                                {{ community_plan_area }}
                            </a>
                        </li>
                    {% endif %}

                    {% if lot.zoning_district %}
                        <li>
                            {% trans "Zone class" %}:
                            {{ lot.zoning_district.zone_class }}
                        </li>
                    {% endif %}

                </ul>
            </div>
        </section>

        <section class="lot-detail-ownership {% if lot.number_of_lots > 1 %}lot-group{% endif %}">
            <div class="lot-detail-icon"></div>
            <div class="lot-detail-content">
                {% for l in lot.lots %}
                    {% include "inplace/lots/_owner.html" with lot=l %}
                {% endfor %}
            </div>
        </section>

        {% get_special_categories for lot as categories %}
        {% if categories %}
            <section class="lot-detail-special">
                <div class="lot-detail-icon"></div>
                <div class="lot-detail-content">
                    {% trans "Special Categories" %}:
                    <ul>
                        {% for category in categories %}
                            <li>
                                {{ category|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

        {% if "lots.view_all_details" in perms %}
            <section class="lot-detail-admin admin-only">
                <div class="lot-detail-content">
                    <h2>{% trans "Admin Details" %}</h2>
                    <div class="help-text">(This section is only visible to admins.)</div>

                    <span class="lot-detail-admin admin-only">
                        <a class="btn btn-admin" href="{% url "admin:lots_lot_changelist" %}?owner={{ lot.owner.pk }}">
                            {% trans "View all lots this owner owns" %}
                        </a>
                    </span>

                    {% if lot.steward_projects.count > 0 %}
                        <div>
                            {% trans "steward's land tenure" %}:
                            {{ lot.steward_projects.all.0.land_tenure_status }}
                        </div>
                    {% endif %}

                    {% if lot.parcel %}
                        {% with lot.parcel.local_roll as local_roll %}
                            {% if local_roll %}
                                <div>
                                    <span>{% trans "According to the local roll" %}:</span>
                                    <div>
                                        {% trans "improvement value" %}: {{ local_roll.improvement_value }}
                                    </div>   
                                    <div>
                                        {% trans "year built" %}: {{ local_roll.yr_built }}
                                    </div>   
                                    <div>
                                        {% trans "built sq ft main" %}: {{ local_roll.built_sq_ft_main }}
                                    </div>   
                                </div>   
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                </div>
            </section>
        {% endif %}

        <section class="lot-detail-reasons">
            <div class="lot-detail-content">
                <h2>{% trans "Why is this lot here?" %}</h2>
                {% if not lot.is_visible %}
                    <p>
                        {% blocktrans %}
                            Actually, it should not be here. Let us know so we can take 
                            care of it.
                        {% endblocktrans %}
                    </p>
                {% elif not lot.known_use %}
                    {% get_vacant_reasons for lot as reasons %}
                    {% if reasons %}
                        <p>{% trans "We think this lot is vacant because:" %}</p>
                        <ul>
                            {% for reason in reasons %}
                                <li>{{ reason|safe }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    {% blocktrans with use=lot.known_use %}
                        The lot is being used as a {{ use }}.
                    {% endblocktrans %}
                {% endif %}
            </div>
        </section>

        <section class="lot-detail-pathways">
            <div class="lot-detail-content">
                <div>
                    {% blocktrans %}
                        Here are some pathways you might follow to use this piece of land legally:
                    {% endblocktrans %}
                    {% render_pathway_summary_list for lot %}
                </div>
            </div>
        </section>

    </aside>
{% endblock %}

{% block extra_body %}
    <div id="file-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="groundtruth-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="hide-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="note-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="organizer-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="photo-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="steward-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
