{% load i18n %}

<div class="modal-header">
    <button type="button" class="close btn-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1 class="modal-title">
        {% block modal_header_text %}{% trans "Success" %}{% endblock %}<br />
        {{ object.content_object.display_name|title|default:"unknown" }}
    </h1>
</div>

<div class="modal-body">
    <div>
        {% block modal_body_text %}{% trans "Your content was added to" %}{% endblock %}
        {{ object.content_object.display_name|title|default:"unknown" }}
    </div>
    <form class="pull-right">
        <button class="btn btn-primary btn-close-modal" type="button">
            {% trans "ok" %}
        </button>
    </form>
    <div class="clearfix"></div>
</div>
