{% load rsssync_tags %}

<section class="blog-entry-list">
    {% get_latest_entries for content.feed 10 as entries %}
    {% for entry in entries %}
        <article>
            <div class="blog-entry-summary">
                <h2>
                    {% if entry.link %}
                        <a href="{{ entry.link }}">
                            {{ entry.title }}
                        </a>
                    {% else %}
                        {{ entry.title }}
                    {% endif %}
                </h2>
                <div class="meta">
                    <time datetime="{{ entry.date|date:"Y-d-m H:i" }}">{{ entry.date|date:"d F, Y" }}</time>
                </div>
                {{ entry.summary|striptags|truncatewords:"75"|safe }}
                {% if entry.link %}
                    <a class="meta" href="{{ entry.link }}">
                        read more
                    </a>
                {% endif %}
            </div>
            <div class="blog-entry-cover-image">
                {% if entry.cover_image_url %}
                    <img src="{{ entry.cover_image_url }}" />
                {% endif %}
            </div>
        </article>
    {% endfor %}
</section>
