{% load communityplanareas_tags councildistricts_tags i18n neighborhoodcouncils_tags zoning_tags %}

<section id="map-filters-parent" class="map-filters expanded">
    <h2 class="map-filters-expander">{% trans "filter" %}</h2>
    <section id="map-filters" class="map-filters-content">
        <section class="map-filters expanded">
            <h3 class="map-filters-expander">{% trans "land access pathways" %}</h3>
            <div class="map-filters-content">
                <ul class="map-filters-type">
                    <li class="map-filters-type-item map-filters-type-public on">
                        <span class="map-filters-type-disc"></span>
                        <input type="checkbox" name="public" class="filter filter-layer hidden" checked="true" />
                        <span data-toggle="tooltip" data-placement="bottom" title="{% trans "Parcels that are owned by public agencies" %}">
                            {% trans "publicly owned vacant" %}
                        </span>
                        (<span id="public-lots-count"></span>)
                    </li>
                    <li class="map-filters-type-item map-filters-type-private on">
                        <span class="map-filters-type-disc"></span>
                        <input type="checkbox" name="private" class="filter filter-layer hidden" checked="true" />
                        <span data-toggle="tooltip" data-placement="bottom" title="{% trans "Parcels that are owned by private entities" %}">
                            {% trans "privately owned vacant" %}
                        </span>
                        (<span id="private-lots-count"></span>)
                    </li>
                </ul>
            </div>
        </section>
        <section class="map-filters expanded">
            <h3 class="map-filters-expander">{% trans "living lots" %}</h3>
            <div class="map-filters-content">
                <ul class="map-filters-type">
                    <li class="map-filters-type-item map-filters-type-in-use on">
                        <span class="map-filters-type-disc"></span>
                        <input type="checkbox" name="in_use" class="filter filter-layer hidden" />
                        {% trans "green space" %}
                        (<span id="in-use-count"></span>)
                    </li>
                    <li class="map-filters-type-item map-filters-type-organized on">
                        <span class="map-filters-type-disc"></span>
                        <input type="checkbox" name="organized" class="filter filter-layer hidden" />
                        <span data-toggle="tooltip" data-placement="bottom" title="{% trans "Parcels that people are organizing to get access to" %}">
                            {% trans "being organized" %}
                        </span>
                        (<span id="organized-count">0</span>)
                    </li>
                    <li class="map-filters-type-item map-filters-type-friendly-owner on">
                        <span class="map-filters-type-disc"></span>
                        <input type="checkbox" name="friendly_owner" class="filter filter-layer hidden" />
                        <span data-toggle="tooltip" data-placement="bottom" title="{% trans "Parcels with friendly owners who might be more open to giving you access to them" %}">
                            {% trans "friendly owner" %}
                        </span>
                        (<span id="friendly-owner-count">0</span>)
                        <div>
                            <a class="friendly-owner-share" href="{% url "friendlyowners:add" %}" data-target="#friendlyowner-modal" data-toggle="modal">
                                {% trans "I own land I'd like to share" %}
                            </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="map-filters expanded">
            <h3 class="map-filters-expander">{% trans "search" %}</h3>
            <div class="map-filters-content">
                <form class="map-filters-search-form" data-bounds="[-117.5359,33.5391,-118.8872,34.5733]" data-city="Los Angeles" data-state="CA" data-error-message="{% trans "Could not find your location. Try again?" %}" data-warning-selector=".map-filters-search.warning">
                    <input id="map-filters-search" class="map-filters-search" type="search" placeholder="{% trans "address, intersection, zip" %}" />
                    <div class="warning" style="display: none;"></div>
                    <input id="map-filters-search-lat" type="hidden" />
                    <input id="map-filters-search-lng" type="hidden" />
                    <div class="map-filters-search-nearby">
                        <input id="map-filters-search-nearby" name="map-filters-search-nearby" type="checkbox" />
                        <label for="map-filters-search-nearby">{% trans "Show only lots within 1/2 mile" %}</label>
                    </div>
                </form>
            </div>
        </section>
        <section class="map-filters expanded">
            <h3 class="map-filters-expander">{% trans "size" %}</h3>
            <div class="map-filters-content">
                <div class="filter filter-size"></div>
                <div class="filter-size-labels">
                    <span class="filter-size-label-min"></span>
                    <span class="filter-size-label-max"></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="map-filters">
            <h3 class="map-filters-expander">{% trans "boundaries" %}</h3>
            <div class="map-filters-content" id="map-filters-boundaries">
                <section class="map-filters map-filters-grouped">
                    <h4>{% trans "council district" %}</h4>
                    <select class="map-filters-councildistricts" data-type="councildistricts">
                        <option value="">Council District</option>
                        {% get_council_districts as councildistricts %}
                        {% for councildistrict in councildistricts %}
                            <option value="{{ councildistrict.label }}">
                                {{ councildistrict.label }} 
                            </option>
                        {% endfor %}
                    </select>
                </section>
                <section class="map-filters map-filters-grouped">
                    <h4>{% trans "neighborhood council area" %}</h4>
                    <select class="map-filters-neighborhoodcouncils" data-type="neighborhoodcouncils">
                        <option value="">Neighborhood Council Area</option>
                        {% get_neighborhood_councils as neighborhoodcouncils %}
                        {% for neighborhoodcouncil in neighborhoodcouncils %}
                            <option value="{{ neighborhoodcouncil.label }}">
                                {{ neighborhoodcouncil.label }} 
                            </option>
                        {% endfor %}
                    </select>
                </section>
                <section class="map-filters map-filters-grouped">
                    <h4>{% trans "community plan area" %}</h4>
                    <select class="map-filters-communityplanareas" data-type="communityplanareas">
                        <option value="">Community Plan Area</option>
                        {% get_community_plan_areas as communityplanareas %}
                        {% for communityplanarea in communityplanareas %}
                            <option value="{{ communityplanarea.label }}">
                                {{ communityplanarea.label }} 
                            </option>
                        {% endfor %}
                    </select>
                </section>
                <section class="map-filters map-filters-grouped">
                    <h4>{% trans "zoning code" %}</h4>
                    <select class="filter map-filters-zoneclasses">
                        <option value="">Zoning Code</option>
                        {% get_zoning_classes as zone_classes %}
                        {% for group, classes in zone_classes.items %}
                            <optgroup label="{{ group }}">
                                {% for class in classes %}
                                    <option>{{ class }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </section>
            </div>
        </section>
    </section>
</section>
