{% load activities_tags activity_tags rsssync_tags %}

<section>
    <h2>Recent Activity</h2>
    <div class="map-scrollover-activities-row">
        {% get_activities 4 as activities %}
        {% for activity in activities %}
            <div class="map-scrollover-activity">
                {% display_action activity %}
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="#" id="map-scrollover-show-more" class="btn btn-default">show more</a>
    </div>
</section>
<section>
    <h2>
        <a href="/blog/" target="_blank">Recent Posts</a>
    </h2>

    <div>
        {% get_latest_entries for "LA Open Acres" 4 as entries %}
        {% for entry in entries %}
            {% include "livinglots/lots/_scrollover_entry.html" with entry=entry %}
        {% endfor %}
    </div>
</section>
