{% load activities_tags activity_tags rsssync_tags %}

<section>
    <h2>Recent Activity</h2>
    <div class="map-scrollover-activities-row">
        {% get_activities 4 as activities %}
        {% for activity in activities %}
            <div class="map-scrollover-activity">
                {% display_action activity %}
            </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2>
        <a href="/blog/" target="_blank">Recent Posts</a>
    </h2>

    <div>
        {% get_latest_entries for "LA Open Acres" 4 as entries %}
        {% for entry in entries %}
            <div class="map-scrollover-blog-entry">
                <div class="map-scrollover-blog-entry-title">
                    {% if entry.link %}
                        <a href="{{ entry.link }}" target="_blank">
                            {% if entry.cover_image_url %}
                                <img src="{{ entry.cover_image_url }}" />
                            {% endif %}
                            <h2 class="blog-entry-title">
                                {{ entry.title }}
                            </h2>
                        </a>
                    {% else %}
                        {% if entry.cover_image_url %}
                            <img src="{{ entry.cover_image_url }}" />
                        {% endif %}
                        <h2 class="blog-entry-title">
                            {{ entry.title }}
                        </h2>
                    {% endif %}
                </div>
                <div class="map-scrollover-blog-entry-text">
                    {{ entry.summary|striptags|truncatewords:"50"|safe }}
                    {% if entry.link %}
                        <a class="blog-entry-meta" href="{{ entry.link }}" target="_blank">
                            read more
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
