{% load communityplanareas_tags councildistricts_tags feincms_tags i18n inplace_tags neighborhoodcouncils_tags static %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <section class="popup">
            <header>
                <a target="_blank" href="{{detailUrl}}">
                    {{feature.properties.address_line1}}
                </a>
            </header>
            <div class="popup-streetview">
                <div>
                    {{#if feature.properties.centroid}}
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{feature.properties.centroid.[1]}},{{feature.properties.centroid.[0]}}&size=250x110&sensor=false&fov=45" />
                    {{else}}
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{feature.geometry.coordinates.[1]}},{{feature.geometry.coordinates.[0]}}&size=250x110&sensor=false&fov=45" />
                    {{/if}}
                </div>
            </div>
            <div class="popup-lot-details row">
                <div class="col-xs-9">
                    {{#if feature.properties.number_of_lots_plural}}
                        <div class="lot-count">
                            {{feature.properties.number_of_lots}}
                            lots
                        </div>
                    {{/if}}
                    <div class="size">Size: {{feature.properties.size}} acres</div>
                    <div class="owner">Owner: {{feature.properties.owner}}</div>
                </div>
                <div class="col-xs-3">
                    <a target="_blank" href="{{detailUrl}}" class="btn btn-learn-more">learn<br />more</a>
                </div>
            </div>
        </section>
    {% endverbatim %}
</script>

<div id="map"
    data-l-zoom="11"
    data-l-center="[33.995750,-118.215637]"
    data-l-scroll-wheel-zoom="false"

    data-l-apikey="{% inplace_setting PLACES_CLOUDMADE_KEY %}"
    data-l-styleid="{% inplace_setting PLACES_CLOUDMADE_STYLE %}"
    data-l-lot-centroids-url="{% url "lots:lot_geojson_centroid" %}"
    data-l-lot-polygons-url="{% url "lots:lot_geojson_polygon" %}"
>
    <div class="map-filters-wrapper">
        <div class="map-filters-inner-wrapper">
            <div id="map-filters-parent" class="map-filters">
                <h2 class="map-filters-expander">filter</h2>
                <section class="map-filters-content">
                    <section class="map-filters">
                        <h3 class="map-filters-expander">type</h3>
                        <div class="map-filters-content">
                            <ul class="map-filters-type">
                                <ul>
                                    <li class="map-filters-type-item map-filters-type-public on">
                                        <input type="checkbox" name="public" class="filter filter-layer hidden" checked="true" />
                                        publicly owned vacant
                                    </li>
                                    <li class="map-filters-type-item map-filters-type-public-remnant">
                                        <input type="checkbox" name="public_remnant" class="filter filter-layer hidden" />
                                        remnant/odd shape
                                    </li>
                                </ul>
                                <ul>
                                    <li class="map-filters-type-item map-filters-type-private on">
                                        <input type="checkbox" name="private" class="filter filter-layer hidden" checked="true" />
                                        privately owned vacant
                                    </li>
                                    <li class="map-filters-type-item map-filters-type-private-tax-default">
                                        <input type="checkbox" name="private_tax_default" class="filter filter-layer hidden" />
                                        tax default
                                    </li>
                                </ul>
                                <ul>
                                    <li>being organized</li>
                                    <li>garden/farm/nursery</li>
                                    <li>park/greenspace/forest</li>
                                </ul>
                            </ul>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">search</h3>
                        <div class="map-filters-content">
                            <form class="map-filters-search-form" data-bounds="[-117.5359,33.5391,-118.8872,34.5733]" data-city="Los Angeles" data-state="CA" data-error-message="Could not find your location. Try again?" data-warning-selector=".map-filters-search.warning">
                                <input id="map-filters-search" class="map-filters-search" type="search" placeholder="{% trans "address, intersection, zip, owner" %}" />
                                <div class="warning" style="display: none;"></div>
                            </form>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">filter by</h3>
                        <div class="map-filters-content">
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">council district</h4>
                                <div class="map-filters-content">
                                    <div class="map-filters-councildistricts">
                                        {% get_council_districts as councildistricts %}
                                        {% for councildistrict in councildistricts %}
                                        
                                            <a href="#" class="map-filters-councildistrict pull-left" data-label="{{ councildistrict.label }}">
                                                {{ councildistrict.label }} 
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">neighborhood council area</h4>
                                <div class="map-filters-content">
                                    <ul class="map-filters-neighborhoodcouncils">
                                        {% get_neighborhood_councils as neighborhoodcouncils %}
                                        {% for neighborhoodcouncil in neighborhoodcouncils %}
                                            <li>
                                        
                                                <a href="#" class="map-filters-neighborhoodcouncil" data-label="{{ neighborhoodcouncil.label }}">
                                                    {{ neighborhoodcouncil.label }} 
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">community plan area</h4>
                                <div class="map-filters-content">
                                    <ul class="map-filters-communityplanareas">
                                        {% get_community_plan_areas as communityplanareas %}
                                        {% for communityplanarea in communityplanareas %}
                                            <li>
                                        
                                                <a href="#" class="map-filters-communityplanarea" data-label="{{ communityplanarea.label }}">
                                                    {{ communityplanarea.label }} 
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">zoning code</h4>
                                <div class="map-filters-content">zoning code</div>
                            </section>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">size</h3>
                        <div class="map-filters-content">
                            size
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">download</h3>
                        <div class="map-filters-content">
                            <section style="margin-bottom: 10px;">
                                {% blocktrans %}
                                    Download currently viewed lots. GeoJSON and KML are mapping formats, so you can make your own maps!
                                {% endblocktrans %}
                            </section>

                            <section class="details-buttons hidden-print">
                                <a href="#" class="btn btn-default btn-block export export-csv" data-baseurl="{% url "lots:csv" %}?">
                                    {% trans "spreadsheet" %}
                                </a>
                                <a href="#" class="btn btn-default btn-block export export-geojson" data-baseurl="{% url "lots:geojson" %}?download=yes&">
                                    {% trans "GeoJSON" %}
                                </a>
                                <a href="#" class="btn btn-default btn-block export export-kml" data-baseurl="{% url "lots:kml" %}?">
                                    {% trans "KML" %}
                                </a>
                            </section>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="overlaymenu overlaymenu-details">
    {% include "livinglots/lots/details.html" %}
</div>

<div class="overlaymenu overlaymenu-admin">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="overlaymenu-menu-content">
        <section>
            <a class="admin-button-add-lot btn btn-default btn-block">
                {% trans "add lot" %}
            </a>
        </section>
    </div>
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>
    <div class="overlaymenu-menu-content">
        <div class="activity-stream-section map-sidebar-section">
            <h2>{% trans "Recent Activity" %}</h2>
            <div class="activity-stream"></div>
        </div>
    </div>
</div>
{% endcomment %}
