{% load feincms_tags i18n inplace_tags llla_photos_tags %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <section class="popup">
            <header>
                <a target="_blank" href="{{detailUrl}}">
                    {{feature.properties.address_line1}}
                </a>
            </header>

            {{#if feature.properties.banner_image_url}}
                <div class="popup-banner-image" style="background-image: url({{feature.properties.banner_image_url}});"></div>
            {{/if}}

            <div class="popup-lot-details row">
                <div class="col-xs-2">
                    <a target="_blank" href="{{detailUrl}}" class="btn btn-learn-more">learn<br />more</a>
                    <a target="_blank" href="{{detailUrl}}#organize" class="btn btn-organize">organize</a>
                </div>
                <div class="col-xs-10">
                    {{#if feature.properties.organizers_count}}
                        <div class="popup-lot-details-organizers">
                            This lot has 
                            <span class="organizers-count">{{feature.properties.organizers_count}}</span>
                            {{#if feature.properties.organizers_count_plural}}
                                organizers.
                            {{else}}
                                organizer.
                            {{/if}}
                        </div>
                    {{/if}}
                    <div class="popup-lot-details-ain">
                        APN {{feature.properties.ain}}
                        {{#if feature.properties.zone_class}}
                            / Zone class: {{feature.properties.zone_class}}
                        {{/if}}
                    </div>
                    {{#if feature.properties.number_of_lots_plural}}
                        <div class="lot-count">
                            {{feature.properties.number_of_lots}}
                            lots
                        </div>
                    {{/if}}
                    <div class="size">{{feature.properties.size}} acres</div>
                    <div class="owner">
                        <span class="owner-type owner-type-{{feature.properties.owner.type}}">{{feature.properties.owner.type}}</span>
                        Owner: {{feature.properties.owner.name}}
                    </div>
                </div>
            </div>
        </section>
    {% endverbatim %}
</script>

<div id="map-scrollover">
    <div id="map-scrollover-row">
        <div id="map-scrollover-handle"></div>
        <div id="map-scrollover-content">
            {% include "livinglots/lots/_scrollover.html" %}
        </div>
    </div>
</div>

<div id="map"
    data-l-min-zoom="8"
    data-l-zoom="10"
    data-l-center="[34.0248,-118.3255]"
    data-l-scroll-wheel-zoom="false"

    data-l-mapbox-id="{% inplace_setting PLACES_MAPBOX_ID %}"
    data-l-lot-centroids-url="{% url "lots:lot_geojson_centroid" %}"
    data-l-lot-polygons-url="{% url "lots:lot_geojson_polygon" %}"
    data-l-parcels-url="{% url "parcels:parcel_geojson" %}"
    data-l-add-lot-parent="#add-lot-parent"
>
    <div class="map-filters-wrapper">
        <div class="map-filters-inner-wrapper">
            <div id="map-sidebar-parent" class="map-overlay expanded">
                {% include "livinglots/lots/_filters.html" %}

                {% if "lot.add_lot" in perms %}
                    <section id="map-admin-parent" class="map-filters">
                        <h2 class="map-filters-expander">{% trans "admin" %}</h2>
                        <section class="map-filters-content">
                            <a id="admin-button-add-lot" class="btn btn-admin btn-block">
                                {% trans "add lot" %}
                            </a>
                            <div id="add-lot-parent"></div>
                        </section>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="map-download-wrapper">
        <div id="map-download" class="map-overlay" data-too-few="{% trans "No lots are on the screen to download. Please adjust your filters or map view before downloading." %}" data-too-many="{% trans "Downloading over 2500 lots is currently not supported. Please adjust your filters or map view before downloading." %}">

            <section id="map-totals">
                Currently viewing <span id="lots-count"></span> lots on <span id="lots-acres"></span> acres
            </section>

            <div>
                <a class="details-link" href="#">{% trans "link to this view" %}</a>
            </div>

            <section class="details-buttons hidden-print">
                {% trans "download lots as" %}
                <a href="#" class="export export-csv" data-baseurl="{% url "lots:csv" %}?">
                    {% trans "csv" %}
                </a> /
                <a href="#" class="export export-geojson" data-baseurl="{% url "lots:geojson" %}?download=yes&">
                    {% trans "GeoJSON" %}
                </a> /
                <a href="#" class="export export-kml" data-baseurl="{% url "lots:kml" %}?">
                    {% trans "KML" %}
                </a>
            </section>
        </div>
    </div>
</div>

{% block extra_body %}
    <div id="friendlyowner-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
