{% load communityplanareas_tags councildistricts_tags feincms_tags i18n inplace_tags neighborhoodcouncils_tags static %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <section class="popup">
            <header>
                <a target="_blank" href="{{detailUrl}}">
                    {{feature.properties.address_line1}}
                </a>
            </header>
            <div class="popup-streetview">
                <div>
                    {{#if feature.properties.centroid}}
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{feature.properties.centroid.[1]}},{{feature.properties.centroid.[0]}}&size=300x110&sensor=false&fov=45" />
                    {{else}}
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{feature.geometry.coordinates.[1]}},{{feature.geometry.coordinates.[0]}}&size=300x110&sensor=false&fov=45" />
                    {{/if}}
                </div>
            </div>
            <div class="popup-lot-details row">
                <div class="col-xs-2">
                    <a target="_blank" href="{{detailUrl}}" class="btn btn-learn-more">learn<br />more</a>
                    <a target="_blank" href="{{detailUrl}}" class="btn btn-learn-more">organize</a>
                </div>
                <div class="col-xs-10">
                    {{#if feature.properties.organizers_count}}
                        <div class="popup-lot-details-organizers">
                            This lot has 
                            <span class="organizers-count">{{feature.properties.organizers_count}}</span>
                            {{#if feature.properties.organizers_count_plural}}
                                organizers.
                            {{else}}
                                organizer.
                            {{/if}}
                        </div>
                    {{/if}}
                    <div class="popup-lot-details-ain">
                        APN {{feature.properties.ain}}
                    </div>
                    {{#if feature.properties.number_of_lots_plural}}
                        <div class="lot-count">
                            {{feature.properties.number_of_lots}}
                            lots
                        </div>
                    {{/if}}
                    <div class="size">{{feature.properties.size}} acres</div>
                    <div class="owner">
                        <span class="owner-type owner-type-{{feature.properties.owner.type}}">{{feature.properties.owner.type}}</span>
                        Owner: {{feature.properties.owner.name}}
                    </div>
                </div>
            </div>
        </section>
    {% endverbatim %}
</script>

<div id="map"
    data-l-zoom="11"
    data-l-center="[33.995750,-118.215637]"
    data-l-scroll-wheel-zoom="false"

    data-l-apikey="{% inplace_setting PLACES_CLOUDMADE_KEY %}"
    data-l-styleid="{% inplace_setting PLACES_CLOUDMADE_STYLE %}"
    data-l-lot-centroids-url="{% url "lots:lot_geojson_centroid" %}"
    data-l-lot-polygons-url="{% url "lots:lot_geojson_polygon" %}"
>
    <div class="map-filters-wrapper">
        <div class="map-filters-inner-wrapper">
            <div id="map-filters-parent" class="map-overlay map-filters">
                <h2 class="map-filters-expander">{% trans "filter" %}</h2>
                <section class="map-filters-content">
                    <section class="map-filters">
                        <h3 class="map-filters-expander">{% trans "type" %}</h3>
                        <div class="map-filters-content">
                            <ul class="map-filters-type">
                                <ul>
                                    <li class="map-filters-type-item map-filters-type-public on">
                                        <input type="checkbox" name="public" class="filter filter-layer hidden" checked="true" />
                                        {% trans "publicly owned vacant" %}
                                        (<span id="public-lots-count"></span>)
                                    </li>
                                    <li class="map-filters-type-item map-filters-type-public-remnant">
                                        <input type="checkbox" name="public_remnant" class="filter filter-layer hidden" />
                                        {% trans "remnant/odd shape" %}
                                        (<span id="public-remnant-count"></span>)
                                    </li>
                                </ul>
                                <ul>
                                    <li class="map-filters-type-item map-filters-type-private on">
                                        <input type="checkbox" name="private" class="filter filter-layer hidden" checked="true" />
                                        {% trans "privately owned vacant" %}
                                        (<span id="private-lots-count"></span>)
                                    </li>
                                    <li class="map-filters-type-item map-filters-type-private-tax-default">
                                        <input type="checkbox" name="private_tax_default" class="filter filter-layer hidden" />
                                        {% trans "tax default" %}
                                        (<span id="private-taxdefault-count"></span>)
                                    </li>
                                </ul>
                                <ul>
                                    <li>{% trans "being organized" %}</li>
                                    <li>{% trans "garden/farm/nursery" %}</li>
                                    <li>{% trans "park/greenspace/forest" %}</li>
                                </ul>
                            </ul>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">{% trans "search" %}</h3>
                        <div class="map-filters-content">
                            <form class="map-filters-search-form" data-bounds="[-117.5359,33.5391,-118.8872,34.5733]" data-city="Los Angeles" data-state="CA" data-error-message="{% trans "Could not find your location. Try again?" %}" data-warning-selector=".map-filters-search.warning">
                                <input id="map-filters-search" class="map-filters-search" type="search" placeholder="{% trans "address, intersection, zip, owner" %}" />
                                <div class="warning" style="display: none;"></div>
                            </form>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">{% trans "political boundaries" %}</h3>
                        <div class="map-filters-content">
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">{% trans "council district" %}</h4>
                                <div class="map-filters-content">
                                    <div class="map-filters-councildistricts">
                                        {% get_council_districts as councildistricts %}
                                        {% for councildistrict in councildistricts %}
                                        
                                            <a href="#" class="map-filters-councildistrict pull-left" data-label="{{ councildistrict.label }}" data-type="councildistricts">
                                                {{ councildistrict.label }} 
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">{% trans "neighborhood council area" %}</h4>
                                <div class="map-filters-content">
                                    <select class="map-filters-neighborhoodcouncils" data-type="neighborhoodcouncils">
                                        <option value="">Pick one</option>
                                        {% get_neighborhood_councils as neighborhoodcouncils %}
                                        {% for neighborhoodcouncil in neighborhoodcouncils %}
                                            <option value="{{ neighborhoodcouncil.label }}">
                                                {{ neighborhoodcouncil.label }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">{% trans "community plan area" %}</h4>
                                <div class="map-filters-content">
                                    <select class="map-filters-communityplanareas" data-type="communityplanareas">
                                        <option value="">Pick one</option>
                                        {% get_community_plan_areas as communityplanareas %}
                                        {% for communityplanarea in communityplanareas %}
                                            <option value="{{ communityplanarea.label }}">
                                                {{ communityplanarea.label }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </section>
                            <section class="map-filters map-filters-grouped">
                                <h4 class="map-filters-expander">{% trans "zoning code" %}</h4>
                                <div class="map-filters-content">{% trans "zoning code" %}</div>
                            </section>
                        </div>
                    </section>
                    <section class="map-filters">
                        <h3 class="map-filters-expander">{% trans "size" %}</h3>
                        <div class="map-filters-content">
                            <div class="filter filter-size"></div>
                            <div class="filter-size-labels">
                                <span class="filter-size-label-min"></span>
                                <span class="filter-size-label-max"></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>

    <div class="map-download-wrapper">
        <div class="map-download-inner-wrapper">
            <div id="map-download" class="map-overlay">
                <div>
                    <a class="details-link" href="#">{% trans "link to this view" %}</a>
                </div>

                <section class="details-buttons hidden-print">
                    {% trans "download map as" %}
                    <a href="#" class="export export-csv" data-baseurl="{% url "lots:csv" %}?">
                        {% trans "csv" %}
                    </a> /
                    <a href="#" class="export export-geojson" data-baseurl="{% url "lots:geojson" %}?download=yes&">
                        {% trans "GeoJSON" %}
                    </a> /
                    <a href="#" class="export export-kml" data-baseurl="{% url "lots:kml" %}?">
                        {% trans "KML" %}
                    </a>
                </section>
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="overlaymenu overlaymenu-details">
    {% include "livinglots/lots/details.html" %}
</div>

<div class="overlaymenu overlaymenu-admin">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="overlaymenu-menu-content">
        <section>
            <a class="admin-button-add-lot btn btn-default btn-block">
                {% trans "add lot" %}
            </a>
        </section>
    </div>
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>
    <div class="overlaymenu-menu-content">
        <div class="activity-stream-section map-sidebar-section">
            <h2>{% trans "Recent Activity" %}</h2>
            <div class="activity-stream"></div>
        </div>
    </div>
</div>
{% endcomment %}
