{% extends "modals/success.html" %}
{% load i18n %}

{% block modal_header_text %}
    {% trans "Organize this lot!" %}
{% endblock %}

{% block modal_body %}
    <div>
        {% trans "You were added as an organizer for" %}
        {{ participant.content_object.display_name|title|default:"unknown" }}
    </div>
    <form class="pull-right">
        <button class="btn btn-primary btn-close-modal" type="button">
            {% trans "ok" %}
        </button>
    </form>
    <div class="clearfix"></div>
{% endblock %}
