{% load flatblock_tags i18n %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1 class="modal-title">
        {% trans "Organize this lot!" %}<br />
        {{ content_object.display_name|title|default:"unknown" }}
    </h1>
</div>

<div class="modal-body">
    {% flatblock "organizer-add-intro" %}
    {% url "organize:add_organizer" pk=content_object.pk as action_url %}
    <form class="form-horizontal" method="post" 
        {% if multipart %}enctype="multipart/form-data"{% endif %}
        {% if action_url %}action="{{ action_url }}"{% endif %}
        >

        {% include "forms/header.html" with form=form %}

        <div class="row">
            <div class="col-md-6">
                {% include "forms/field.html" with field=form.name %}
                {% include "forms/field.html" with field=form.email %}
                {% include "forms/field.html" with field=form.phone %}
                {% include "forms/field.html" with field=form.url %}
                {% include "forms/field.html" with field=form.type %}
                {% include "forms/field.html" with field=form.post_publicly %}
            </div>
            <div class="col-md-6">
                {% include "forms/field.html" with field=form.notes %}
            </div>
        </div>

        {% include "forms/footer.html" %}
    </form>
</div>
