{% load i18n %}

<ul class="organizer-list">
    {% for organizer in organizers %}
        {% if organizer.post_publicly %}
            <li class="organizer-list-item">
                <div class="organizer-name">
                    {{ organizer.name }}
                </div>
                <div class="organizer-contact">
                    {% if organizer.email %}
                        <div class="organizer-contact-email">
                            {{ organizer.email }}
                        </div>
                    {% endif %}
                    {% if organizer.phone %}
                        <div class="organizer-contact-phone">
                            {{ organizer.phone }}
                        </div>
                    {% endif %}
                </div>

                {% if "organize" in perms %}
                    <div class="admin-only">

                        {% if "organize.change_organizer" in perms %}
                            <a href="{% url "admin:organize_organizer_change" organizer.pk %}" class="btn btn-admin">
                                {% trans "edit" %}
                            </a>
                        {% endif %}

                        {% if "organize.delete_organizer" in perms %}
                            <a href="{% url "admin:organize_organizer_delete" organizer.pk %}" class="btn btn-admin">
                                {% trans "delete" %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

            </li>
        {% endif %}
    {% endfor %}
</ul>
