{% load i18n imagekit %}

<ul class="photo-list">
    {% for photo in photos %}
        <li class="photo-list-item">
            <a href="{{ photo.original_image.url }}" class="fancybox">
                {% thumbnail '300x300' photo.original_image %}
            </a>

            <div class="photo-description">
                {{ photo.description }}
            </div>

            {% if "photos" in perms %}
                <div class="admin-only">

                    {% if "photos.change_photo" in perms %}
                        <a href="{% url "admin:photos_photo_change" photo.pk %}" class="btn btn-admin">
                            {% trans "Edit this photo" %}
                        </a>
                    {% endif %}

                    {% if "photos.delete_photo" in perms %}
                        <a href="{% url "admin:photos_photo_delete" photo.pk %}" class="btn btn-admin">
                            {% trans "Delete this photo" %}
                        </a>
                    {% endif %}

                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
