{% load i18n imagekit %}

<ul class="photo-list">
    {% for photo in photos %}
        <li class="photo-list-item">
            {% thumbnail '300x300' photo.original_image %}

            {% if "photos" in perms %}
                <div class="admin-only">

                    {% if "photos.change_photo" in perms %}
                        <a href="{% url "admin:photos_photo_change" photo.pk %}" class="btn btn-small btn-warning">
                            {% trans "Edit this photo" %}
                        </a>
                    {% endif %}

                    {% if "photos.delete_photo" in perms %}
                        <a href="{% url "admin:photos_photo_delete" photo.pk %}" class="btn btn-small btn-warning">
                            {% trans "Delete this photo" %}
                        </a>
                    {% endif %}

                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
